main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.mat-table {
  width: 70%;
}

.mat-header-row {
  font-size: larger;
  font-weight: bolder;
}

.mat-cell {
  font-size: large;
  font-weight: bolder;

}
